<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.eric.tpc.persist.KeyStoreDao">

  <resultMap type="KeyRecord" id="keyRecordMap">
    <id column="PREFIX" property="prefix"/>
    <result column="DATE_DIGIT" property="dateDigit"/>
    <result column="SERIAL_NUMBER" property="serialNumber"/>
  </resultMap>

  <insert id="insert" parameterType="KeyRecord">
    INSERT INTO KEY_STORE
    (PREFIX, DATE_DIGIT, SERIAL_NUMBER)
    VALUES
    (#{prefix}, #{dateDigit}, #{serialNumber})
  </insert>

   <select id="selectAll" resultMap="keyRecordMap">
    SELECT *
    FROM KEY_STORE
  </select>

  <select id="selectByPrefix" parameterType="String" resultMap="keyRecordMap">
    SELECT *
    FROM KEY_STORE
    WHERE PREFIX = #{prefix}
  </select>

  <update id="update" parameterType="KeyRecord">
    UPDATE KEY_STORE
    SET DATE_DIGIT = #{dateDigit},
        SERIAL_NUMBER = #{serialNumber}
    WHERE PREFIX = #{prefix}
  </update>
  
</mapper>
