<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.eric.tpc.bankserver.persist.DepositMessageDao">
  
  <insert id="insert" parameterType="DepositMessage">
    INSERT INTO DEPOSIT_MESSAGE(
      MESSAGE_NUMBER,
      VERSION,
      LAUNCH_TIME,
      SENDER,
      RECEIVER,
      TYPE,
      BANK_CODE,
      ACCT_NUMBER,
      AMOUNT,
      DOC_NUMBER,
      TRANS_SN
    )VALUES(
        #{messageNumber},
        #{version},
        #{launchTime},
        #{sender},
        #{receiver},
        #{type},
        #{bankCode},
        #{accountNumber},
        #{amount},
        #{docNumber},
        #{transSN}
    )
  </insert>

</mapper>
