<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.eric.tpc.bankserver.persist.TransferMessageDao">
  
  <insert id="insert" parameterType="TransferMessage">
    INSERT INTO TRANSFER_MESSAGE(
      MESSAGE_NUMBER,
      VERSION,
      LAUNCH_TIME,
      MESSAGE_TYPE,
      
      SENDER,
      RECEIVER,
      
      TRANS_TYPE,
      TRANS_SN,
      RECEIVING_BANK_CODE,
      
      ACCT_NUMBER,
      ACCT_BANK_CODE,
      
      OPP_ACCT_NUMBER,
      OPP_ACCT_BANK_CODE,

      AMOUNT,
      SUMMARY,
      VOUCHER_NUMBER
    )VALUES(
        #{messageNumber},
        #{version},
        #{launchTime},
        #{messageType},
	
        #{sender},
        #{receiver},
	
	#{transType},
	#{transSN},
	#{receivingBankCode},
	
        #{account.number},
        #{account.bankCode},

	#{oppositeAccount.number},
        #{oppositeAccount.bankCode},

        #{amount},
        #{summary},
        #{voucherNumber}
    )
  </insert>

</mapper>
