<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.eric.tpc.persist.AccountDao">
  
  <resultMap type="Account" id="accountMap">
    <id column="ACCT_NUMBER" property="acctNumber"/>
    <result column="ACCT_NAME" property="acctName"/>
    <result column="BANK_CODE" property="bankCode"/>
    <result column="ACCT_TYPE" property="type"/>
    <result column="OVERDRAFT_LIMIT" property="overdraftLimit"/>
    <result column="BALANCE" property="balance"/> 
    <result column="OPENING_TIME" property="openingTime"/>
    <result column="LAST_MODI_TIME" property="lastModiTime"/>
  </resultMap>
  
  <insert id="insert" parameterType="Account">
    INSERT INTO ACCOUNT
       (ACCT_NUMBER, ACCT_NAME, BANK_CODE, ACCT_TYPE, OVERDRAFT_LIMIT, BALANCE, OPENING_TIME, LAST_MODI_TIME)
    VALUES
       (#{acctNumber}, #{acctName}, #{bankCode}, #{type}, #{overdraftLimit}, #{balance}, #{openingTime}, #{lastModiTime});
  </insert>

  <update id="modifyBalance" parameterType="Pair">
    UPDATE ACCOUNT
    SET BALANCE = BALANCE + #{snd},
        LAST_MODI_TIME = CURRENT_TIMESTAMP
    WHERE ACCT_NUMBER = #{fst}
  </update>

  <update id="updateLock" parameterType="Pair">
    UPDATE ACCOUNT
    SET LOCKING_TRANS = #{snd}
    WHERE ACCT_NUMBER = #{fst}
  </update>
  
  <select id="selectByAcctNumber" resultMap="accountMap">
    select * from ACCOUNT where ACCT_NUMBER = #{acctNumber}
  </select>

  <select id="selectAll" resultMap="accountMap">
    select * from ACCOUNT order by ACCT_NUMBER desc
  </select>
  
</mapper>
